.env 
.ipynb_checkpoints
ny_taxi_postgres_data
--user=root
*.parquet
services.yml
*.csv
data_pgadmin


week2_airflow/airflow/logs
week2_airflow/airflow/plugins
week2_airflow/airflow/requirements.txt


.DS_Store
.idea
*.tfstate
*.tfstate.*
**.terraform
**.terraform.lock.*
**google_credentials.json
**logs/
**.env
**__pycache__/
.history
**/ny_taxi_postgres_data/*
serving_dir
*.csv
.ipynb_checkpoints/
!week_6_stream_processing/avro_example/data/rides.csv